#UIContainer {
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: start;
    justify-content: space-between;
    row-gap:15px;
}

.RoundedBox {
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.FlexColumn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
}

.FlexRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.FlexItem_Fixed {
    flex: 0 0 auto;
}

.FlexItem_Dynamic {
    flex: 1 1 auto;
}