#InfoBox {
    height: 80vh;
    width: 350px;
    background-color: #414141;
    transition: transform 0.25s ease;
    border-top-right-radius: 0;
}

#InfoBox.show {
    transform: translateX(0px);
}

#InfoBox.hover {
    transform: translateX(-335px);
}

#InfoBox.hide {
    transform: translateX(-350px);
}

#ContentContainer {
    height: 92.5%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#TitleContainer {
    flex: 0 1 auto;
}

#TitleContainer h1 {
    margin: 0;
    text-align: center;
    font-size: 28px;
    color: white;
    user-select: none;
}

#RuledLine {
    width: 25%;
    max-height: 0px;

    border-style: solid;
    border-width: 1px;
    border-color: white;

    flex: 0 0 auto;
}

#BuildingInfoContainer {
    width: 100%;

    flex: 0 1 auto;
}

#BuildingInfoContainer .left {
    text-align: left;
}

#BuildingInfoContainer .right {
    text-align: right;
    font-weight: bold;
}

#BuildingInfoContainer tr {
    height: 30px;
}

#InfoTextContainer {
    height: 10%;
    width: 100%;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    overflow-y: scroll;
    flex: 1 1 auto;
    text-align: justify;
    box-sizing: border-box;
    background-color: #383838;
}

#InfoTextContainer p {
    margin: 0;
    user-select: none;
}

#SelectorContainer {
    flex: 1 1 auto;
    margin: 15px;
}

/* Mobile Layout Options */
@media only screen and (max-width:550px) {
    #InfoBox {
        position: fixed;
        bottom: 0;
        height: 350px;
        width: 100%;
        border-radius: 0px;
    }

    #InfoBox.show {
        transform: translateY(0px);
    }

    #InfoBox.hover {
        transform: translateY(350px);
    }

    #InfoBox.hide {
        transform: translateY(350px);
    }

    #InfoTextContainer {
        height: auto;
        width: 100%;
        padding: 15px;
        margin: auto;
        overflow-y: unset;
        flex: unset;
        border-radius: 10px;
        text-align: justify;
        box-sizing: border-box;
        background-color: #383838;
        font-size:large;
    }

    #ContentContainer {
        height:300px;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        overflow-y: scroll;
    }

    #BuildingInfoContainer .left {
        text-align: left;
        font-size:larger;
    }
    
    #BuildingInfoContainer .right {
        text-align: right;
        font-weight: bold;
        font-size:larger;
    }
}